.pagination
	padding-top 10px
	padding-left 76px
	padding-bottom 50px
	display block
	font-family $pS
	+r($t)
		padding-left 0
	&__list
		font-size 0
		text-align center
	&__item
		margin-left 8px
		display inline-block
		vertical-align top
		&:first-child
			margin-left 0
		+r($t)
			margin-bottom 8px
	&__link
		padding 15px 12px
		width 50px
		height 50px
		display block
		background #f0f0f1
		font-size 31px
		color #4d4d4d
		text-align center
		text-decoration none
		tr(background .3s ease)
		+r($t)
			font-size 26px
		+r($t-s)
			padding 10px 6px
			width auto
			height auto
			font-size 21px
	&__link
		&:hover
			background #4361B4
			color #FFF
	&__item_active
		background #4361B4
		.pagination__link
			background #4361B4
			color #fff
