mixin portfolio()
	.portfolio
		h1.portfolio__title Портфолио
		ul.portfolio__filter
			li.portfolio__filter-item
				a.portfolio__link(href="#link") Станки с ЧПУ
			li.portfolio__filter-item.portfolio__filter-item_active
				a.portfolio__link(href="#link") Работы на станках с ЧПУ
		.portfolio__gall-w
			ul.portfolio__gall
				li.portfolio__gall-item
					a.portfolio__gall-link(href="#link")
						.portfolio__image
							img(src="assets/images/content/article-img-1.jpg", alt="")
							.portfolio__caption Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика
				li.portfolio__gall-item
					a.portfolio__gall-link(href="#link")
						.portfolio__image
							img(src="assets/images/content/article-img-1.jpg", alt="")
							.portfolio__caption Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика
				li.portfolio__gall-item
					a.portfolio__gall-link(href="#link")
						.portfolio__image
							img(src="assets/images/content/article-img-1.jpg", alt="")
							.portfolio__caption Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика
				li.portfolio__gall-item
					a.portfolio__gall-link(href="#link")
						.portfolio__image
							img(src="assets/images/content/article-img-1.jpg", alt="")
							.portfolio__caption Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика
				li.portfolio__gall-item
					a.portfolio__gall-link(href="#link")
						.portfolio__image
							img(src="assets/images/content/article-img-1.jpg", alt="")
							.portfolio__caption Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика
				li.portfolio__gall-item
					a.portfolio__gall-link(href="#link")
						.portfolio__image
							img(src="assets/images/content/article-img-1.jpg", alt="")
							.portfolio__caption Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика
				li.portfolio__gall-item
					a.portfolio__gall-link(href="#link")
						.portfolio__image
							img(src="assets/images/content/article-img-1.jpg", alt="")
							.portfolio__caption Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика
				li.portfolio__gall-item
					a.portfolio__gall-link(href="#link")
						.portfolio__image
							img(src="assets/images/content/article-img-1.jpg", alt="")
							.portfolio__caption Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика
				li.portfolio__gall-item
					a.portfolio__gall-link(href="#link")
						.portfolio__image
							img(src="assets/images/content/article-img-1.jpg", alt="")
							.portfolio__caption Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика
				li.portfolio__gall-item
					a.portfolio__gall-link(href="#link")
						.portfolio__image
							img(src="assets/images/content/article-img-1.jpg", alt="")
							.portfolio__caption Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика
				li.portfolio__gall-item
					a.portfolio__gall-link(href="#link")
						.portfolio__image
							img(src="assets/images/content/article-img-1.jpg", alt="")
							.portfolio__caption Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика
				li.portfolio__gall-item
					a.portfolio__gall-link(href="#link")
						.portfolio__image
							img(src="assets/images/content/article-img-1.jpg", alt="")
							.portfolio__caption Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика

		.portfolio__pagination
			a.portfolio__more(href="#more") Еще фото
