mixin advantages()
	section.advantages
		.advantages__in
			h2.advantages__title Наши преимущества
			.advantages__list
				li.advantages__item.advantages__item_quality
					.advantages__icon
					.advantages__item-title Качество
					.advantages__text На наши станки устанавливаются комплектующие  только известных брендов и производителей, таких как: HIWIN, LeadShine, Yaskawa
				li.advantages__item.advantages__item_equip
					.advantages__icon
					.advantages__item-title Индивидуальная комплектация
					.advantages__text Наша Компания предлагает станки строго под Ваши цели и задачи.
				li.advantages__item.advantages__item_price
					.advantages__icon
					.advantages__item-title Стоимость
					.advantages__text Он собрал семь своих заглавных букв, подпоясал инициал за пояс и пустился в дорогу. Взобравшись на первую вершину курсивных гор, бросил он последний взгляд
