mixin sidebar()
	.sidebar
		h2.sidebar__title Каталог
		.sidebar__w
			ul.sidebar__nav
				li.sidebar__nav-item
					a.sidebar__nav-link(href="#link") Фрезерные станки с ЧПУ
					ul.sidebar__sub-nav
						li.sidebar__sub-item
							a.sidebar__sub-link(href="#") — по неметаллам
						li.sidebar__sub-item
							a.sidebar__sub-link(href="#") — по металлам
						li.sidebar__sub-item
							a.sidebar__sub-link(href="#") — по камню
				li.sidebar__nav-item
					a.sidebar__nav-link(href="#link") Фрезерные станки с ЧПУ с АТС
				li.sidebar__nav-item
					a.sidebar__nav-link(href="#link") Лазерные станки
					ul.sidebar__sub-nav
						li.sidebar__sub-item
							a.sidebar__sub-link(href="#") — по неметаллам
						li.sidebar__sub-item
							a.sidebar__sub-link(href="#") — по металлам
						li.sidebar__sub-item
							a.sidebar__sub-link(href="#") — по камню
				li.sidebar__nav-item
					a.sidebar__nav-link(href="#link") Сервис и обслуживание


mixin sidebar-category()
	.sidebar
		h2.sidebar__title Категория / подкатегория
		.sidebar__w
			ul.sidebar__nav
				li.sidebar__nav-item
					a.sidebar__nav-link(href="#link") Фрезерные станки с ЧПУ
					ul.sidebar__sub-nav
						li.sidebar__sub-item
							a.sidebar__sub-link(href="#") — по неметаллам
						li.sidebar__sub-item
							a.sidebar__sub-link(href="#") — по металлам
						li.sidebar__sub-item
							a.sidebar__sub-link(href="#") — по камню
				li.sidebar__nav-item
					a.sidebar__nav-link(href="#link") Фрезерные станки с ЧПУ с АТС
				li.sidebar__nav-item
					a.sidebar__nav-link(href="#link") Лазерные станки
					ul.sidebar__sub-nav
						li.sidebar__sub-item
							a.sidebar__sub-link(href="#") — по неметаллам
						li.sidebar__sub-item
							a.sidebar__sub-link(href="#") — по металлам
						li.sidebar__sub-item
							a.sidebar__sub-link(href="#") — по камню
				li.sidebar__nav-item
					a.sidebar__nav-link(href="#link") Сервис и обслуживание
