.sidebar
	padding-top 10px
	width 416px
	width ratio-percentage(416, $d-l)
	float left
	&__title
		margin-bottom 10px
		@extends .title
	&__w
		padding-top 30px
		padding-left 20px
		padding-right 20px
		padding-bottom 30px
		background url(../images/general/pattern.jpg) 0 0 repeat
	&__nav
		margin-bottom 30px

	&__nav-item
		margin-bottom 30px
		font-size 23px
		font-weight 400
	&__nav-link
		margin-bottom 15px
		display block
		color #4d4d4d
		text-decoration none
		&:hover
			text-decoration underline
	&__sub-nav
		margin-bottom 10px
	&__sub-item
		margin-bottom 10px
		font-size 17px
	&__sub-link
		color #4d4d4d
		text-decoration none
		&:hover
			text-decoration underline


