mixin product()
	.product
		h1.product__title Настольный фрезерно-гравировальный  станок ЧПУ Minimo 6090TT
		.product__row
			.product__left
				.product__image
					img(src="assets/images/content/product-img.jpg", alt="")

			.product__right
				ul.product__specs
					li.product__specs-item
						span Рабочая зона XY, мм:
						| 1300*2500
					li.product__specs-item
						span Ход шпинделя по оси Z*, мм:
						| 300
					li.product__specs-item
						span Размер стола, мм:
						| 1350*3000
					li.product__specs-item
						span Поверхность стола:
						| Стол алюминиевый с Т-пазами

				.product__desc Фрезерный гравер для 2D и 3D фрезерования пластика, металлов (Cu, Al), МДФ, дерева, фанеры, композитных материалов, оргстекла, печатных плат и т.п.

				.product__price-w
					.product__price 1 000 000 руб.
					a.product__button(href="#button") Купить

		.product__row
			.product__details
				h2.product__details-title Подробные характеристки:
				ul.product__details-list
					li.product__details-item
						span Структура станка
						| Сварная станина, литой портал
					li.product__details-item
						span Система приводов осей
						| X-Y/Z Косозубая рейка/ШВП
					li.product__details-item
						span Направляющие осей
						| X-Y-Z Рельсовые направляющие HIWIN 20*20 по все осям
					li.product__details-item
						span Мощность шпинделя водяного охлаждение
						| 3 кВт
					li.product__details-item
						span Максимальная скорость м/мин
						| 24
					li.product__details-item
						span Максимальная рабочая скорость, м/мин
						| 12
					li.product__details-item
						span Скорость вращения шпинделя
						| 0-24000 rmp
					li.product__details-item
						span Тип моторов привода по осям
						| CW Motor 86-й серии, 450В
					li.product__details-item
						span Драйвера
						| Leadshine Microstep Driver 860
					li.product__details-item
						span Частотный преобразователь
						| Sunfar 300
					li.product__details-item
						span Рабочее напряжение, V
						| 380
					li.product__details-item
						span Командный язык
						| G код
					li.product__details-item
						span Интерфейс
						| LPT
					li.product__details-item
						span Система управления станком
						| NC-studio 8
					li.product__details-item
						span Программное обеспечения
						| Art CAM
					li.product__details-item
						span Температура окружающей среды, С
						| 0-45
					li.product__details-item
						span Размеры упаковки, мм
						| 1550*3000*1950
					li.product__details-item
						span Масса нетто, кг
						| 1050
					li.product__details-item
						span Вес брутто, кг
						| 1250
						//- .product__details-term
						//- .product__details-desc

			.product__opt
				h2.product__opt-title Опционально устанавливается:
				ul.product__opt-list
					li.product__opt-item > шпиндель мощностью: 4,5 кВт, 5 кВт, 6 кВт, 9 кВт, 12 кВт.;
					li.product__opt-item > система охлаждения шпинделя может быть заменена на воздушную – шпинделя компании HSD;
					li.product__opt-item > изменение хода шпинделя по оси Z: 100 мм., 150 мм., 200 мм., 250 мм, 350 мм.;
					li.product__opt-item > конфигурация оборудования предусматривает установку гибридной системы привода или серво двигателей;
					li.product__opt-item > система управления: комплектация DSP контроллером;
					li.product__opt-item > установка поворотного устройства для работы с телами вращения диаметром 80мм., 100 мм., 150 мм., 200 мм., 250 мм., 300 мм.
					li.product__opt-item > установка аспирационной системы для удаления пыли-стружки
					li.product__opt-item > применение вакуумного стола, комбинированного системой крепления Т-слот, для дополнительной фиксации заготовки. Вакуумная помпа расчитывается индивидуально под задачи и материалы.

