.breadcrumbs
	background url(../images/general/pattern.jpg) 0 0 repeat
	&__in
		@extends .in
		padding-top 14px
		padding-right 27px
		padding-bottom 15px
		padding-left 27px
	&__list
		font-size 0
	&__item
		margin-right 5px
		display inline-block
		vertical-align top
		font-size 19px
		line-height 1.2
	&__link
		position relative
		padding-right 10px
		color #4d4d4d
		text-decoration none
		&:hover
			text-decoration underline
		&:after
			position absolute
			top 0
			right -2px
			margin-top 1px
			font-size 19px
			content ">"
	&__item
		&:last-child
			a
				&:after
					display none
