.questions
	margin-bottom 22px
	padding-top 40px
	padding-bottom 36px
	background url(../images/general/pattern.jpg) 0 0 repeat
	text-align center
	color #4d4d4d
	&__title,
	h2
		margin-bottom 5px
		font-size 23px
	&__text
		font-size 17px
	&__form
		.form__field
			margin-left 14px
			display inline-block
			&:first-child
				margin-left 0
