include /blocks/pagination/pagination


mixin catalog()
	.catalog
		ul.catalog__list
			li.catalog__item
				a.catalog__link(href="#link")
				.catalog__body
					.catalog__image
						img(src="assets/images/content/catalog-img-1.jpg", alt="")
					.catalog__item-w
						.catalog__title Настольный фрезерно-гравировальный станок ЧПУ Minimo 6090TT
						.catalog__specs
							.catalog__specs-item Рабочая зона XY, мм: 1300х2500
							.catalog__specs-item Ход шпинделя по оси Z, мм: 300
							.catalog__specs-item Размер стола, мм: 1350х3000
							.catalog__specs-item Поверхность стола: Стол алюминиевый с Т-пазами
				.catalog__bottom
					.catalog__button Подробнее
					.catalog__price 1 000 000 руб.

			li.catalog__item
				a.catalog__link(href="#link")
				.catalog__body
					.catalog__image
						img(src="assets/images/content/catalog-img-1.jpg", alt="")
					.catalog__item-w
						.catalog__title Настольный фрезерно-гравировальный станок ЧПУ Minimo 6090TT
						.catalog__specs
							.catalog__specs-item Рабочая зона XY, мм: 1300х2500
							.catalog__specs-item Ход шпинделя по оси Z, мм: 300
							.catalog__specs-item Размер стола, мм: 1350х3000
							.catalog__specs-item Поверхность стола: Стол алюминиевый с Т-пазами
				.catalog__bottom
					.catalog__button Подробнее
					.catalog__price 1 000 000 руб.

			li.catalog__item
				a.catalog__link(href="#link")
				.catalog__body
					.catalog__image
						img(src="assets/images/content/catalog-img-1.jpg", alt="")
					.catalog__item-w
						.catalog__title Настольный фрезерно-гравировальный станок ЧПУ Minimo 6090TT
						.catalog__specs
							.catalog__specs-item Рабочая зона XY, мм: 1300х2500
							.catalog__specs-item Ход шпинделя по оси Z, мм: 300
							.catalog__specs-item Размер стола, мм: 1350х3000
							.catalog__specs-item Поверхность стола: Стол алюминиевый с Т-пазами

				.catalog__bottom
					.catalog__button Подробнее
					.catalog__price 1 000 000 руб.

			li.catalog__item
				a.catalog__link(href="#link")
				.catalog__body
					.catalog__image
						img(src="assets/images/content/catalog-img-1.jpg", alt="")
					.catalog__item-w
						.catalog__title Настольный фрезерно-гравировальный станок ЧПУ Minimo 6090TT
						.catalog__specs
							.catalog__specs-item Рабочая зона XY, мм: 1300х2500
							.catalog__specs-item Ход шпинделя по оси Z, мм: 300
							.catalog__specs-item Размер стола, мм: 1350х3000
							.catalog__specs-item Поверхность стола: Стол алюминиевый с Т-пазами

				.catalog__bottom
					.catalog__button Подробнее
					.catalog__price 1 000 000 руб.

			li.catalog__item
				a.catalog__link(href="#link")
				.catalog__body
					.catalog__image
						img(src="assets/images/content/catalog-img-1.jpg", alt="")
					.catalog__item-w
						.catalog__title Настольный фрезерно-гравировальный станок ЧПУ Minimo 6090TT
						.catalog__specs
							.catalog__specs-item Рабочая зона XY, мм: 1300х2500
							.catalog__specs-item Ход шпинделя по оси Z, мм: 300
							.catalog__specs-item Размер стола, мм: 1350х3000
							.catalog__specs-item Поверхность стола: Стол алюминиевый с Т-пазами

				.catalog__bottom
					.catalog__button Подробнее
					.catalog__price 1 000 000 руб.


			li.catalog__item
				a.catalog__link(href="#link")
				.catalog__body
					.catalog__image
						img(src="assets/images/content/catalog-img-1.jpg", alt="")
					.catalog__item-w
						.catalog__title Настольный фрезерно-гравировальный станок ЧПУ Minimo 6090TT
						.catalog__specs
							.catalog__specs-item Рабочая зона XY, мм: 1300х2500
							.catalog__specs-item Ход шпинделя по оси Z, мм: 300
							.catalog__specs-item Размер стола, мм: 1350х3000
							.catalog__specs-item Поверхность стола: Стол алюминиевый с Т-пазами

				.catalog__bottom
					.catalog__button Подробнее
					.catalog__price 1 000 000 руб.

		+pagination()
