mixin prod()
	section.prod
		.prod__in
			h2.prod__title Наша продукция
			.prod__list-w
				ul.prod__list
					li.prod__item
						a.prod__link(href="#link")
							.prod__image
								img(src="assets/images/content/prod-1.png", alt="")
							.prod__item-title Фрезерные станки с ЧПУ
					li.prod__item
						a.prod__link(href="#link")
							.prod__image
								img(src="assets/images/content/prod-2.png", alt="")
							.prod__item-title Фрезерные станки с ЧПУ и АТС
					li.prod__item
						a.prod__link(href="#link")
							.prod__image
								img(src="assets/images/content/prod-3.png", alt="")
							.prod__item-title Лазерные станки
					li.prod__item.prod__item_service
						a.prod__link(href="#link")
							.prod__item-title Сервис и обслуживание
					li.prod__item.prod__item_wide
						a.prod__link(href="#link")
