@font-face
	font-family 'Calibri-Italic'
	src url('../fonts/hinted-subset-Calibri-Italic.woff2') format('woff2'), url('../fonts/hinted-subset-Calibri-Italic.woff') format('woff')
	font-weight normal
	font-style normal

@font-face
	font-family 'Calibri-Bold'
	src url('../fonts/hinted-subset-Calibri-Bold.woff2') format('woff2'), url('../fonts/hinted-subset-Calibri-Bold.woff') format('woff')
	font-weight normal
	font-style normal

@font-face
	font-family 'Calibri-Regular'
	src url('../fonts/hinted-subset-Calibri.woff2') format('woff2'), url('../fonts/hinted-subset-Calibri.woff') format('woff')
	font-weight normal
	font-style normal

@font-face
	font-family 'PTSans-Regular'
	src url('../fonts/hinted-subset-PTSans-Regular.woff2') format('woff2'), url('../fonts/hinted-subset-PTSans-Regular.woff') format('woff')
	font-weight normal
	font-style normal


$cR = 'Calibri-Regular', Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif
$cI = 'Calibri-Italic', Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif
$cB = 'Calibri-Bold', Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif
$pS = 'PTSans-Regular', Arial, Helvetica Neue, Helvetica, sans-serif
