@font-face {
    font-family: 'Calibri-Italic';
    src: url('../fonts/c/hinted-subset-Calibri-Italic.woff2') format('woff2'),
        url('../fonts/c/hinted-subset-Calibri-Italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Calibri-Bold';
    src: url('../fonts/c/hinted-subset-Calibri-Bold.woff2') format('woff2'),
        url('../fonts/c/hinted-subset-Calibri-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Calibri';
    src: url('../fonts/c/hinted-subset-Calibri.woff2') format('woff2'),
        url('../fonts/c/hinted-subset-Calibri.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


$cR = 'Calibri', Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif
$ci = 'Calibri-Italic', Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif
$cB = 'Calibri-Bold', Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif
