.main
	&__text
		background url(../images/general/pattern.jpg) 0 0 repeat
	&__w
		@extends .in
		padding-top 26px
		padding-bottom 30px
	&__title
		@extends .title
		margin-bottom 5px
	&__wysiwyg
		@extends .wysiwyg
