extends /blocks/layout-default/layout-default

include /blocks/header/header
include /blocks/main/main
include /blocks/breadcrumbs/breadcrumbs
include /blocks/questions/questions



include /blocks/footer/footer

block head
	- var pageTitle = 'ls-group - about';

block content
	+header()
	+main()
		+breadcrumbs-catalog()
		.main__w
			.main__wysiwyg
				h1 О нас / Текстовая старница
				h2 Станки с числовым программным управлением
				img.alignleft(src="assets/images/content/article-img-1.jpg", alt="article-img")
				.main__wysiwyg-w
					h3 Станки с числовым программным управлением
					ul
						li Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами.
						li Он собрал семь своих заглавных букв, подпоясал инициал за пояс
						li Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами океана. Он собрал семь своих заглавных букв, подпоясал инициал за пояс и пустился в дорогу.
						li Он собрал семь своих заглавных букв, подпоясал инициал за пояс
						li Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами.
						li Он собрал семь своих заглавных букв, подпоясал инициал за пояс

				p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на бер Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни. Однажды

				blockquote
					p Lorem ipsum решила выйти в большой мир грамматики. Великий Оксмокс предупреждал ее о злых запятых, диких знаках вопроса и коварных точках с запятой, но текст не дал сбить себя с толку. Он собрал семь своих заглавных букв, подпоясал инициал за пояс и пустился в дорогу. Взобравшись на первую курсивных гор, бросил он последний взгляд назад, на силуэт своего родного города Буквоград, на заголовок деревни Алфавит и на подзаголовок своего Строчка.

				+questions()

				p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на бер Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни. Однажды

				.table
					h2 Таблица с важной информацией 2
					table
						tr
							th №
							th Информация
							th Информация
							th Информация
						tr
							td 1
							td Далеко-далеко за словесными горами в стране согласных живут рыбные тексты.
							td Далеко-далеко за словесными горами в стране согласных живут рыбные тексты.
							td Далеко-далеко за словесными горами в стране согласных живут рыбные тексты.
						tr
							td 2
							td Далеко-далеко за словесными горами в стране согласных живут рыбные тексты.
							td Далеко-далеко за словесными горами в стране согласных живут рыбные тексты.
							td Далеко-далеко за словесными горами в стране согласных живут рыбные тексты.
						tr
							td 3
							td Далеко-далеко за словесными горами в стране согласных живут рыбные тексты.
							td Далеко-далеко за словесными горами в стране согласных живут рыбные тексты.
							td Далеко-далеко за словесными горами в стране согласных живут рыбные тексты.
						tr
							td 4
							td Далеко-далеко за словесными горами в стране согласных живут рыбные тексты.
							td Далеко-далеко за словесными горами в стране согласных живут рыбные тексты.
							td Далеко-далеко за словесными горами в стране согласных живут рыбные тексты.


				p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на бер Семантика большого языкового океана. <a href='#link'>Пример ссылки. Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. </a>Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни. Однажды одна маленькая




		.page__buffer
	+footer()
