extends /blocks/layout-default/layout-inner

include /blocks/header/header
include /blocks/breadcrumbs/breadcrumbs
include /blocks/main/main
include /blocks/sidebar/sidebar
include /blocks/content/content
include /blocks/catalog/catalog




include /blocks/footer/footer
include /blocks/popup/popup
include /blocks/form/form

block head
	- var pageTitle = 'ls group - catalog';

block content
	+header()
	+main()
		+breadcrumbs-catalog()
		.main__w
			h1.main__title Категория / подкатегория
			+sidebar-category()
			+content()
				+catalog()

		.page__buffer

	+footer()
	+popup().mfp-hide#popup
		+form()
