extends /blocks/layout-default/layout-inner

include /blocks/header/header
include /blocks/breadcrumbs/breadcrumbs
include /blocks/main/main
include /blocks/faq/faq


include /blocks/footer/footer

block head
	- var pageTitle = 'ls group - faq';

block content
	+header()
	+main()
		+breadcrumbs-catalog()
		.main__w
			+faq()

		.page__buffer

	+footer()
