mixin articles()
	.articles
		h1.articles__title Статьи
		ul.articles__list
			li.articles__item
				a.articles__link(href="#")
					.articles__image
						img(src="assets/images/content/article-img-1.jpg", alt="")
					.articles__item-w
						.articles__item-title Заголовок статьи
						.articles__date 11.05.2018г.
						.articles__text Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни. Однажды одна маленькая строчка рыбного текста по имени Lorem
						.articles__more Подробнее
			li.articles__item
				a.articles__link(href="#")
					.articles__image
						img(src="assets/images/content/article-img-1.jpg", alt="")
					.articles__item-w
						.articles__item-title Заголовок статьи
						.articles__date 11.05.2018г.
						.articles__text Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни. Однажды одна маленькая строчка рыбного текста по имени Lorem
						.articles__more Подробнее
			li.articles__item
				a.articles__link(href="#")
					.articles__image
						img(src="assets/images/content/article-img-1.jpg", alt="")
					.articles__item-w
						.articles__item-title Заголовок статьи
						.articles__date 11.05.2018г.
						.articles__text Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни. Однажды одна маленькая строчка рыбного текста по имени Lorem
						.articles__more Подробнее
			li.articles__item
				a.articles__link(href="#")
					.articles__image
						img(src="assets/images/content/article-img-1.jpg", alt="")
					.articles__item-w
						.articles__item-title Заголовок статьи
						.articles__date 11.05.2018г.
						.articles__text Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни. Однажды одна маленькая строчка рыбного текста по имени Lorem
						.articles__more Подробнее
			li.articles__item
				a.articles__link(href="#")
					.articles__image
						img(src="assets/images/content/article-img-1.jpg", alt="")
					.articles__item-w
						.articles__item-title Заголовок статьи
						.articles__date 11.05.2018г.
						.articles__text Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни. Однажды одна маленькая строчка рыбного текста по имени Lorem
						.articles__more Подробнее
