.footer
	display block
	background #4161B5
	&__in
		@extends .in-second
		padding-top 16px
		padding-bottom 16px
		min-height 140px
	&__row
		clearfix()
	&__logo,
	&__nav,
	&__form
		display inline-block
		vertical-align top
	&__logo
		margin-top 26px
	&__nav
		margin-top 30px
		margin-left 57px
		// width 80%
		+r($d)
			margin-top 15px
			margin-left 30px
			float right
			width 80%
		+r($t)
			width 68%
		+r($t-s)
			margin-left 0
			width 66%
		.nav__list
			display block
		.nav__item
			display inline-block
			+r($d)
				width 33%
			+r(480px)
				width 48%
			a
				padding-top 12px
				+r($d)
					padding-left 0
				// padding-left 0
				// padding-bottom 7px
				// padding-right 0
	&__form
		margin-left 50px
		margin-right 20px
		float right
		+r($d-l)
			display none
	&__copyright
		margin-top -10px
		margin-left -8px
		margin-bottom 0
		font-size 17px
		color #f7f7f8
		+r($d-l)
			margin-top 10px
			margin-left 0
